<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NULL-FTP Account Deletion</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <style>
    button{background-color: #ffffff; color: #236ab9;}
  </style>
</head>
<body>
  <header>NULL-FTP Account Deletion</header>
  <h1>NULL-FTP Account Deletion</h1>

  <div>
  Please enter your password

  <form action="{{ url_for('unregister') }}" method="POST">
    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password" required><br><br>

    <button type="submit">Delete account</button>
  </form>

  {% if error %}
    <p>{{ error }}</p>
  {% endif %}
  </div>

  <br>
  <a href="{{ url_for('index') }}">Cancel</a>
</body>
</html>